<% 
    if(site.data && site.data.galleries) {
        var galleries = site.data.galleries;
        var gallery;
        for(var i = 0; i < galleries.length; i++) {
            gallery = galleries[i];
            if(gallery.name == page.title) {
                break;
            }
        }
    }
%>


<div id="main">
    <% if(gallery) { %>
    <div class='box alt'>
    <div id="mygallery">
            <% for(var i = 0; i < gallery.photos.length; i++)  { %>
                <% var photo_name = gallery.photos[i]; %>
                <a href="<%- photo_name %>">
                    <img src="<%- photo_name %>" />
                </a>
            <% } %>
    </div>
    </div>
    <% } %>
</div>